.btn {
    color: tomato;
    font-size: 1.5rem;
    background-color: gainsboro;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}

.stats_text {
    color: gainsboro;
    font-size: 1.8rem;
}

.title { 
    font-weight: 500;
    color: gainsboro;
}