
<div fxLayout="column">
    <h1 fxLayoutAlign="center start" class="title">
        STATS:
    </h1>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
        <div fxFlex="15"></div>
        <div fxFlex fxLayoutAlign="start center" fxFlex="70">
            <canvas  id="WPM_Chart" >{{ chart }}</canvas>
        </div>
        <div fxFlex="15"></div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" class="stats_text">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="start center">
                <p>wpm: {{(WPM_Sample[WPM_Sample.length - 1]) | number : '1.0-0' }}</p>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="start center">
                <p>characters: {{correctLetters}}/{{incorrectLetters}}/{{extraLetters}}</p>
            </div>
        </div>
        
        <div fxFlex fxLayoutAlign="center center">
            <button (click)="newTypingTest()" class="btn">
                restart
            </button>
        </div>
    </div>
    
</div>